<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %m%n"/>
        </Console>
        <!-- File Appender configuration if needed -->
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="ConsoleAppender"/>
            <!-- Add other appenders if needed -->
        </Root>
    </Loggers>
</Configuration>
